In [14]:
import pandas as pd
import numpy as np
np.random.seed(1)
import matplotlib.pyplot as plt
%matplotlib inline
SIZE = 100

In [2]:
# firstFoodName = np.random.randint(low=0, high=5, size=50)
# secondFoodname = np.random.randint(low=0, high=5, size=50)
# for i in range(50):
#     a = np.random.randint(low=0, high=5, size=1)
#     if a == firstFoodName[i]:
#         while a == firstFoodName[i]:
#             a = np.random.randint(low=0, high=5, size=1)
#         secondFoodname[i] = a
#     else:
#         secondFoodname[i] = a

In [15]:
data = pd.DataFrame({"name" : np.arange(SIZE),
                    "xcor" : np.random.randint(low=1, high=100, size=SIZE),
                    "ycor" : np.random.randint(low=1, high=100, size=SIZE),
                    "serviceScore" : np.random.randint(low=1, high=10, size=SIZE),
                    "foodScore" : np.random.randint(low=1, high=10, size=SIZE),
                    "ambienceScore" : np.random.randint(low=1, high=10, size=SIZE),
                    # "firstFoodName": firstFoodName,
                    # "secondFoodName": secondFoodname,
                    "foodPrice": np.random.randint(low=10, high=50, size=SIZE),
                    # "secondFoodPrice":  np.random.randint(low=10, high=50, size=50),
                    })

In [21]:
data

    name  xcor  ycor  serviceScore  foodScore  ambienceScore  foodPrice
0      0    38     1             9          6              7         37
1      1    13    78             8          3              5         29
2      2    73     7             1          2              9         25
3      3    10    53             4          9              8         16
4      4    76    86             5          6              6         34
..   ...   ...   ...           ...        ...            ...        ...
95    95    24    78             8          2              4         34
96    96    56    92             8          2              7         48
97    97    66    50             3          6              8         35
98    98    78    48             7          2              1         42
99    99     4    78             1          6              4         43

[100 rows x 7 columns]

In [16]:
data.to_csv("data.csv", index=False)

In [17]:
arr = np.array(data)

In [20]:
arr.shape

(100, 7)