In [8]:
import pandas as pd
import numpy as np
np.random.seed(1)
import matplotlib.pyplot as plt
SIZE = 100

In [9]:
# firstFoodName = np.random.randint(low=0, high=5, size=50)
# secondFoodname = np.random.randint(low=0, high=5, size=50)
# for i in range(50):
#     a = np.random.randint(low=0, high=5, size=1)
#     if a == firstFoodName[i]:
#         while a == firstFoodName[i]:
#             a = np.random.randint(low=0, high=5, size=1)
#         secondFoodname[i] = a
#     else:
#         secondFoodname[i] = a

In [15]:
data = pd.DataFrame({"name" : np.arange(SIZE),
                    "xcor" : np.random.randint(low=1, high=100, size=SIZE),
                    "ycor" : np.random.randint(low=1, high=100, size=SIZE),
                    "score" : np.random.randint(low=1, high=11, size=SIZE),
                    # "foodScore" : np.random.randint(low=1, high=11, size=SIZE),
                    # "ambienceScore" : np.random.randint(low=1, high=11, size=SIZE),
                    # "firstFoodName": firstFoodName,
                    # "secondFoodName": secondFoodname,
                    "foodPrice": np.random.randint(low=10, high=51, size=SIZE),
                    # "secondFoodPrice":  np.random.randint(low=10, high=50, size=50),
                    })

In [16]:
data

    name  xcor  ycor  score  foodPrice
0      0    28     1      3         44
1      1    39    17     10         50
2      2    85    31      5         15
3      3    34     4      8         38
4      4     2    79      4         44
..   ...   ...   ...    ...        ...
95    95    29    82      1         30
96    96    37    83      8         45
97    97    67    96      8         38
98    98    11    72      5         38
99    99    85    22      4         14

[100 rows x 5 columns]

In [17]:
data.to_csv("./data/restaurants.csv", index=False)

In [18]:
arr = np.array(data)

In [19]:
arr.shape

(100, 5)