In [7]:
import pandas as pd
import pandas_profiling as pp
from restaurantsFinder import restaurantFinder
import numpy as np
np.random.seed(1)
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('./data/restaurants.csv')
df.head()

   name  xcor  ycor  score  foodPrice
0     0    28     1      3         44
1     1    39    17     10         50
2     2    85    31      5         15
3     3    34     4      8         38
4     4     2    79      4         44

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       100 non-null    int64
 1   xcor       100 non-null    int64
 2   ycor       100 non-null    int64
 3   score      100 non-null    int64
 4   foodPrice  100 non-null    int64
dtypes: int64(5)
memory usage: 4.0 KB

## EDA

In [10]:
# pp.ProfileReport(df)

## Code Implementation

In [11]:
arr = np.array(df)
restaurantFinder = restaurantFinder(arr)

In [12]:
print(restaurantFinder.find(5))

[ 5 32 60  6 44]